.App {
  /* text-align: center; */
  margin: 0 auto;
  /* display: flex; */
  justify-content: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.checkout-main {
  display: flex;
  margin-top: 30px;
  width: 1280px;
  height: 100%;
  text-align: center;
}

#payment-form {
  width: 300px;
  margin: 0 auto;
  margin-top: 30px;
  float: left;
}

#pay-button {
  margin-top: 30px;
  padding: 9px 18px 9px 18px;
  float: left;
  background-color: #635bff;
  border-radius: 5px;
  color: #fff;
  font-weight: 700;
  border: none;
}

#pay-button:hover {
  background-color: #0a2540;
  cursor: pointer;
}

.two-thirds {
  width: 75.66%;
}

.one-third {
  width: 20%;
  margin: 0 auto;
  text-align: left;
  padding: 20px;
  padding-bottom: 33px;
  border: 1px solid #bdbbbb;
  border-radius: 10px;
  position: fixed;
  margin-left: 40px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.pad {
  padding-left: 15px;
  padding-bottom: 8px
}

.img-size {
  width: 15%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

