body {
    text-align: center;
}

h1 {
    font-size: 46px;
    margin-bottom: 80px;
}

h2 {
    margin-bottom: 40px;
}
form {
    width: 20%;
    min-width: 320px;
    height: 350px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    border: 2px solid lightgray;
    border-radius: 8px;
}

input[type=text],input[type=password] {
    width: 40%;
    padding: 8px 20px;
    margin: 0 auto;
    border: 1px solid lightgray;
    border-radius: 8px;
}

button {
    background-color: #c71585;
    color: white;
    padding: 10px 20px;
    margin: 8px auto;
    border: none;
    border-radius: 8px;
}